body{
    background-color: #22212C;
    color: #837E9F;
    font-family: Merriweather Sans, sans-serif;
    display: grid;
    grid-template-areas: 
    "nav" "section";
    grid-template-columns: 30% 70%;
}

.box{
    border-radius: 20px;
    background-color: #302F3D;
    margin: 20px 20px;
    box-sizing: border-box;
}

.profile{
    text-align: center;
    height: 292px;
    padding: 30px 0;
}
.profile img{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 2px #00FF00 solid;
}
.profile p{
    font-weight: 400;
    font-size: 13px;
}
.profile h1{
    font-size: 23px;
}

.icons{
    height: 348px;
    font-size: 13px;
}
.icons img{
    height: 24px;
    width: 24px;
}
.filter-color{
    filter: invert(51%) sepia(9%) saturate(945%) hue-rotate(209deg) brightness(98%) contrast(86%);
}
ul{
    list-style: none;
}
li{
    margin: 14px auto;
}

